*{
   
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.conteudo, form{
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center; /* centraliza na vertical */
    flex-direction: column;
}
.container{
   
    margin: 0 auto; 
}


/* TABELA */

table{
    border: 1px solid #999;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td, th{
    border: 1px solid #999;
    padding: 3px;
}

th{
    height: 45px;
    background-color: #555;
    color: white;
}

tr:hover{
    background-color: #b3b3b3;
}

/* TABELA FINAL */

.titulo{
    align-items: center;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    background-color: #ccc;
    padding: 5px;
}

.row{
    display: flex;
    gap: 5px;
    margin: 10px;
}

.col{
    width: 100%;
}



input[type="text"], input[type="tel"],
input[type="password"]{
    height: 35px; 
    width: 100%; 
    border-radius: 5px; 
    border: 1px solid #888;
    padding: 5px; 
    font-weight: 1.2rem; /
}

input[type="reset"]{
    padding: 20px 40px;
    border: none #616161;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]{
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 189, 65);
    color: rgb(0, 0, 0);
}


/* MENU */

.menu ul{
    display: flex;
    height: 70px;
    background-color: deepskyblue;
    justify-content: end;
    align-items: center;
    list-style-type: none;
}



.menu ul li:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.menu ul a{
    text-decoration: none;
    color: black;
}

.qtdMin {
    background-color: rgb(255, 189, 65); 
    color: rgb(255, 255, 255); 
}

 a{
    text-decoration: none;
    color: black;
}


/*botões*/

.bnt-voltar-estoque{
    border:none;
    background-color: #a7a5a5;
    border-radius: 3px;
    padding: 3px 4px;
}
.bnt-vizu-cadastro{
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 189, 65);
    color: white;
}



