*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}

.conteudo{
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center; /* centraliza na vertical */
    flex-direction: column;
    height: 100vh;
}

.botao{
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 5px;
    margin-top: 10px;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* TABELA */

table{
    border: 1px solid #999;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td, th{
    border: 1px solid #999;
    padding: 3px;
}

th{
    height: 45px;
    background-color: #555;
    color: white;
}

tr:hover{
    background-color: #ccc;
}

/* TABELA FINAL */

.titulo{
    font-weight: lighter;
    display: flex;
    justify-content: center;
    background-color: #ccc;
    padding: 5px;
}

.row{
    display: flex;
    gap: 5px;
    margin: 10px;
}

.col{
    width: 100%;
}

/* INPUTS */

input[type="text"], input[type="tel"],
input[type="password"]{
    height: 35px; /* altura da linha */
    width: 100%; /*largura da linha */
    border-radius: 5px; /* cantos arredondados */
    border: 1px solid #888; /* espessura da borda, estilo e cor */
    padding: 5px; /* espaçamento interno do input para distânciar texto da borda */
    font-weight: 1.2rem; /* aumenta em 10% o tamanho padrão da fonte */
}

input[type="reset"]{
    padding: 20px 40px;
    border: 1px solid #888;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]{
    padding: 20px 40px;
    border: 1px solid green;
    cursor: pointer;
    border-radius: 5px;
    background-color: green;
    color: white;
}

/* INPUTS FINAL */

/* MENU */

.menu ul{
    display: flex;
    height: 70px;
    background-color:rgb(142, 135, 235);
    justify-content: end;
    align-items: center;
    list-style-type: none;
}

.menu ul li{
    padding: 15px 20px;
}

.menu ul li:hover{
    background-color: crimson;
    color: white;
}

.menu ul a{
    text-decoration: none;
    color: black;
}

/* MENU FINAL*/