body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.main-sidebar{
  background-color: #f56e0f;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;; */
}

.sidebar p, i {
  color: #ffdcc1;
}

.user-panel {
  color: white;
}

.nav-link {
  color: #e0e0e0; /* Cor dos links de navegação */
}

.nav-link.active{
  background-color: #f39857 !important;
}

.nav-link:hover {
  background-color: #555; /* Cor de fundo ao passar o mouse */
  color: #fff; /* Cor do texto ao passar o mouse */
}

.nav-icon {
  color: #f5f5f5; /* Cor dos ícones */
}

.content-wrapper {
  background-color: #fbfbfb;
}

.card-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.search-container {
  flex: 1;
  display: flex;
  align-items: center;
}
.input-group {
  flex: 1;
  weight: 10px;
}
.input-group input {
  flex: 1;
  margin-right: -1px; /* Remove o espaço entre o input e o botão */
}
.input-group button {
  white-space: nowrap;
}
.add-product-button {
  margin-left: 10px;
  white-space: nowrap;
}
