body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.main-sidebar{
  background-color: #1f1f20;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;; */
}

#nav-bell, #nav-bars {
  color: #2b4c7e !important;
}

.nav-link:hover {
  background-color: #dce0e6; /* Cor de fundo ao passar o mouse na navbar */
}

.sidebar p {
  color: #f0f0f0;
}

.nav-item i {
  color: #f0f0f0;
}

.user-panel {
  color: white;
}

.nav-link {
  color: #e0e0e0; /* Cor dos links de navegação */
}

.nav-link.active{
  background-color: #2b4c7e !important;
}

.sidebar .nav-link:hover {
  background-color: #555; /* Cor de fundo ao passar o mouse */
  color: #fff; /* Cor do texto ao passar o mouse */
}

.nav-icon {
  color: #f5f5f5; /* Cor dos ícones */
}

.content-wrapper {
  background-color: #fbfbfb;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.search-container {
  display: flex;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
}

.button-group .btn {
  font-size: 16px; /* Ajusta o tamanho da fonte dos botões */
  padding: 5px 15px; /* Ajusta o espaçamento interno dos botões */
  height: 35px; /* Define a altura dos botões */
  min-width: 120px; /* Define a largura mínima dos botões */
}

.input-group {
  display: flex;
}

.input-group .form-control {
  width: 230px;
  height: 35px;
}

.input-group input {
  margin-right: -1px; /* Remove o espaço entre o input e o botão */
}
.input-group button {
  height: 35px;
}
.add-product-button {
  display: flex;
  justify-self: flex-end;
}

.form-control-lg {
  font-size: 16px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
}

.input-group .btn {
  border-radius: 0px;
}

.card-body::after, .card-footer::after, .card-header::after {
  display: block;
  clear: both;
  content:normal;
}
